@using MoviePoster.Dtos
@model ReserveRequestUserDto

@{
    ViewData["Title"] = "Забронировать билет";
}

@{
    var places = (IEnumerable<PlacesDto>)ViewBag.Places;
}

@section Background{
    <style>
        body {
            background: url(https://pibig.info/uploads/posts/2022-12/1670044920_1-pibig-info-p-krasno-chernii-gradient-fon-krasivo-1.jpg);
            background-size: cover;
        }
    </style>
}

@section About{
    <span>
        <font color="white">
            <i class="bi bi-person"></i> Контакты: +375 29 873 17 76,
            <a href="https://vk.com/daryushka_zzz" target="_blank" style="color:red"> Заблоцкая Дарья</a>
        </font>
    </span>
}

<div>

    <h3 style="position: absolute; left: 390px; top: 70px; font-family: 'Comic Sans MS'">
        <font color="white">Заполните поля и забронируйте место:</font>
    </h3>

    <form method="post">
        <div class="row" style="position: absolute; top: 130px; width:1200px; left:50px">
            <div class="col">
                <input asp-for="FirstNameUser" class="form-control" placeholder="Имя">
            </div>
            <div class="col">
                <input asp-for="LastNameUser" class="form-control" placeholder="Фамилия">
            </div>
            <div class="col">
                <input asp-for="Email" class="form-control" placeholder="Email">
            </div>
            <div class="col">
                <input asp-for="Hall" class="form-control" placeholder="Зал">
            </div>
            <div class="col">
                <input asp-for="RowNumber" class="form-control" placeholder="Ряд">
            </div>
            <div class="col">
                <input asp-for="SeatNumber" class="form-control" placeholder="Место">
            </div>
            @*<div class="col">
                    <select class="custom-select" id="inputGroupSelect01">
                        <option selected>Место</option>
                        @foreach (var place in @places)
                        {
                            if (place.Status)
                            {
                                <option>@place.HallDto зал, @place.RowNumberDto ряд, @place.SeatNumberDto место</option>
                            }
                        }
                    </select>
                </div>*@
        </div>
        <div class="row" style="position: absolute; top: 200px; left:570px">
            <button type="submit" class="btn btn-danger">Забронировать</button>
        </div>
    </form>

    <img src="~/images/Places.jpg" style="position:absolute; top:270px; left:660px; width: 350px; height: 250px">
    <h4 style="position: absolute; left: 380px; top: 270px">
        <font color="white">Свободные места:</font>
    </h4>
    <div style="position:absolute; left:380px; top:300px">
        @foreach (var place in @places)
        {
            @if (place.UserDtoId is null)
            {
                <ul>
                    <font color="white">
                    <li>@place.HallDto зал, @place.RowNumberDto ряд, @place.SeatNumberDto место</li>
                    </font>
                </ul>
            }
        }
    </div>
</div>

